body{
    background: url('https://thumbs.dreamstime.com/z/old-music-sheet-blue-watercolor-paint-blues-concept-abstract-background-close-up-164881153.jpg');
    background-size: cover;
    background-position: top 50px;
}
#song_id{
    margin-top: 40px;
    text-align: center;
    margin-left: 815px;
}
.menu1{
    background: color #ea8317;;
    font-weight: bold;
    color:#DD9BCF;
}
.menu1{
    float:left;
    list-style:none;
    color:white;
    position:fixed;
    background-color:#ffd801;
    width:100%;
    margin-top:0px;
    top:0px;
    z-index:10;
    font-family: 'Readex Pro', sans-serif;
    }
    .links{
        display:inline;
        font-size:20px;
        padding-left:35px;
        padding-right:35px;
        }